.row-header {
    margin: 0px auto;
    padding: opx auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer{
    background-color: rgb(182, 31, 131);
    margin: 0px auto;
    padding:  20px 0px 20px 0px;
    color: floralwhite;
}

.fa{
    color: floralwhite;
}
.jumbotron{
    background-image: url("flowers/one.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90pc;
   
    margin: 0px auto;
    color: floralwhite;
}

.address{
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}
body{
    background: rgb(58, 2, 36);
    padding: 50px 0px 0px;
    z-index: 0;
}
.navbar-dark{
    background-color: #270610;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px; 
}
.carousel{
    background: #6b0937; 
    color: floralwhite;
}
@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%;
    
 } 
}
    .carousel-multi-item-2 .card img {
    border-radius: 2px; }
    
    .btn-primary{
        color: floralwhite;
        background:#a14923;
        border-bottom: #a14923;
        
    }

     
    
     
       
    
   

   
    